body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url( cobrinha2-removebg-preview\ \(1\).png);
    background-size: 20%;
    background-repeat: no-repeat;

    background-color: lightgreen;
}
